<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css}">
    <link rel="stylesheet" th:href="@{/lib/editormd/css/editormd.min.css}">
    <title>新增标签</title>
    <link rel="stylesheet" th:href="@{/css/me.css}"/>
</head>
<body>
<!--导航-->
<div th:replace="~{commons/_fragmentsBackground.html::nav(3)}"></div>
<!--二级导航-->
<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a th:href="@{/admin/tags/input}" class="active teal item">发布</a>
            <a th:href="@{/admin/tags}" class="teal item">列表</a>
        </div>
    </div>
</div>
<!--中间内容-->
<div class="m-container-small m-padding-tb-big">
    <div class="ui container">
        <!--form表单-->
        <form method="post" class="ui form"  th:object="${tag}" th:action="@{/admin/tags}">
            <div class="required field">
                <div class="ui left labeled input">
                    <label class="ui teal basic label">名称</label>
                    <!--这个新号可以理解为object，从这个对象中取出name熟悉-->
                    <input type="text" name="name" placeholder="标签名称" th:value="*{name}">
                </div>
            </div>

            <!--错误提示-->
            <div class="ui error message"></div>
            <!--/*/
            <div class="ui negative message" th:if="${#fields.hasErrors('name')}">
                <i class="close icon"></i>
                <div class="header">验证失败</div>
                <p th:errors="*{name}">提交信息不符合规范</p>
            </div>
            /*/-->

            <div class="ui right aligned container">
                <a class="ui button" th:href="@{/admin/tags}">返回</a>
                <button class="ui teal submit button">提交</button>
            </div>
        </form>
    </div>
</div>
<br>
<br>
<br>
<!--底部footer-->
<div th:replace="~{commons/_fragments.html::footer}"></div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
<script>

    $(function () {

        $('.menu.toggle').click(function () {
            $('.m-item').toggleClass('m-mobile-hide');
        });

        // 下拉菜单
        $('.ui.dropdown').dropdown({
            on: "hover"
        });

        // 错误提示
        $('.ui.form').form({
            fields:{
                name:{
                    identifier: 'name',
                    rules: [
                        {
                            type: 'empty',
                            prompt: '请输入分类名称！'
                        }
                    ]
                }
            }
        });

        //关闭提示框
        $('.message .close')
            .on('click',function () {
                $(this)
                    .closest('.message')
                    .transition('fade');
            });
    });
</script>
</body>
</html>