<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css}">
    <title>分类管理</title>
    <link rel="stylesheet" th:href="@{/css/me.css}"/>
</head>
<body>
<div th:replace="~{commons/_fragmentsBackground.html::nav(2)}"></div>
<!--二级导航-->
<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a th:href="@{/admin/types/input}" class="teal item">发布</a>
            <a th:href="@{/admin/types}" class="teal active item">列表</a>
        </div>
    </div>
</div>
<!--中间内容-->
<div class="m-container-small m-mobile-wide m-padding-tb-big">
    <div class="ui container">

        <!--提示-->
        <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
            <i class="close icon"></i>
            <div class="header">提示：</div>
            <p th:text="${message}">操作成功</p>
        </div>
        <!--具体博客-->
        <table class="ui teal compact table">
            <thead>
                <tr>
                    <th></th>
                    <th>名称</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="type,iterStat : ${page.content}">
                    <td th:text="${iterStat.count}">1</td>
                    <td th:text="${type.name}">刻意练习清单</td>
                    <td>
                        <a th:href="@{/admin/types/{id}/update(id=${type.id})}" class="ui mini teal basic button">编辑</a>
                        <a th:href="@{/admin/types/{id}/delete(id=${type.id})}" class="ui mini red basic button">删除</a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="6">
                        <!--大于一再显示下一页或上一页的div快-->
                        <div class="ui mini pagination menu" th:if="${page.totalPages}>1">
                            <a th:href="@{/admin/types(page=${page.number}-1)}" th:unless="${page.first}" class="item">上一页</a>
                            <a th:href="@{/admin/types(page=${page.number}+1)}" th:unless="${page.last}" class="item">下一页</a>
                        </div>
                        <a th:href="@{/admin/types/input}" class="ui mini teal right floated basic button">新增</a>
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<!--底部footer-->
<div th:replace="~{commons/_fragments.html::footer}"></div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
<script>
    $(function () {
        $('.menu.toggle').click(function () {
            $('.m-item').toggleClass('m-mobile-hide');
        });

        // 下拉菜单
        $('.ui.dropdown').dropdown({
            on: "hover"
        });

        //关闭提示框
        $('.message .close')
            .on('click',function () {
                $(this)
                    .closest('.message')
                    .transition('fade');
        });
    });
</script>
</body>
</html>