<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>
    <bean id="cat3" class="com.gyy.pojo.Cat"/>
    <bean id="cat" class="com.gyy.pojo.Cat"/>
    <bean id="dog" class="com.gyy.pojo.Dog"/>
    <!--<bean id="dog3" class="com.gyy.pojo.Dog"/>-->

    <bean id="people" class="com.gyy.pojo.People"/>


</beans>