<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<!--引入thymeleaf的约束才可以使用它的语法-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>小测验</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8"/>
</head>
<body>
<!--语法和Vue类似-->
<h2 th:text="${msg}"></h2>
<div th:each="user:${users}" th:text="${user}"></div>

</body>

</html>