<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css}">
    <title>关于我</title>
    <link rel="stylesheet" th:href="@{/css/me.css}"/>
</head>
<body>
<!--导航-->
<div th:replace="~{commons/_fragments.html::nav(5)}"></div>

<!--中间内容-->
<div class="m-container m-padding-tb-big">
    <div class="ui container">
        <div class="ui grid">
            <!--左边放一张图片-->
            <div class="eleven wide column">
                <div class="ui segment">
                    <img th:src="@{/images/timg.png}" alt="我喜欢" class="ui rounded image">
                </div>
            </div>
            <!--自我介绍-->
            <div class="five wide column">
                <div class="ui top attached segment">
                    <div class="ui header">关于我</div>
                </div>
                <div class="ui attached segment">
                    <p class="m-text">喜欢编程与音乐，编程让我遨游在计算机的世界，让我当一次大胆的创造者，我的代码👉我来背锅</p>
                    <p class="m-text">生活不止眼前的苟且，还有音乐泛起的回忆！那首歌怎么说来着：红雨漂泊泛起了回忆怎么潜</p>
                </div>
                <div class="ui attached segment">
                    <div class="ui orange basic left pointing label m-margin-tb-tiny">编程</div>
                    <div class="ui orange basic left pointing label m-margin-tb-tiny">音乐</div>
                    <div class="ui orange basic left pointing label m-margin-tb-tiny">生活</div>
                    <div class="ui orange basic left pointing label m-margin-tb-tiny">胡思乱想</div>
                </div>
                <div class="ui attached segment">
                    <div class="ui blue basic left pointing label m-margin-tb-tiny">Java</div>
                    <div class="ui blue basic left pointing label m-margin-tb-tiny">JavaWeb</div>
                    <div class="ui blue basic left pointing label m-margin-tb-tiny">MySQL</div>
                    <div class="ui blue basic left pointing label m-margin-tb-tiny">多线程</div>
                    <div class="ui blue basic left pointing label m-margin-tb-tiny">...</div>
                </div>
                <div class="ui bottom attached segment">
                    <a href="#" class="ui circular icon button" th:href="@{https://github.com/Y567}"><i class="github icon"></i></a>
                    <a href="#" class="ui weixin circular icon button"><i class="weixin icon"></i></a>
                    <a href="#" class="ui qq circular icon button" data-content="1592221415" data-position="top center"><i class="qq icon"></i></a>
                </div>

                <!--鼠标移动到图标上，显示图片设置-->
                <div class="ui wechat-qr flowing popup transition hidden m-opacity-mini">
                    <img th:src="@{/images/wechat.jpg}" alt="" class="ui rounded bordered image" style="width: 100px">
                </div>
            </div>
        </div>
    </div>
</div>

<!--底部footer-->
<div th:replace="~{commons/_fragments.html::footer}"></div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
<script>
    // 这是移动端响应点击按钮实现菜单展开的
    $(function () {
        $('.menu.toggle').click(function () {
            $('.m-item').toggleClass('m-mobile-hide');
        });
    });
    // 移动到qq图标显示信息
    $('.qq').popup();
    // 移动到微信图标上
    $('.weixin').popup({
        popup: $('.wechat-qr.popup'),
        on: 'hover',
        position: 'top center'
    });
</script>
</body>
</html>