<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css}">
    <title>归档</title>
    <link rel="stylesheet" th:href="@{/css/me.css}"/>
</head>
<body>
<!--导航-->
<div th:replace="~{commons/_fragments.html::nav(4)}"></div>

<!--中间内容-->
<div class="m-container-small m-padding-tb-big">
    <div class="ui container">
        <!--标题-->
        <div class="ui top attached padded segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <h3 class="ui teal header">归档</h3>
                </div>
                <div class="right aligned column">
                    共<h3 class="ui orange header m-inline-block">14</h3>篇博客
                </div>
            </div>
        </div>

        <!--按时间线往下梳理博客-->
        <h2 class="ui center aligned header">2017</h2>
        <div class="ui fluid vertical menu">
            <a href="#" target="_blank" class="item">
                <span>
                    <i class="teal circle icon"></i>关于狗子变了这件事
                    <div class="ui teal basic left pointing label m-padding-tiny">09月03号</div>
                </span>
                <div class="ui orange basic left pointing label m-padding-tiny">原创</div>
            </a>
            <a href="#" target="_blank" class="item">
                <span>
                    <i class="teal circle icon"></i>关于狗子变了这件事
                    <div class="ui teal basic left pointing label m-padding-tiny">09月03号</div>
                </span>
                <div class="ui orange basic left pointing label m-padding-tiny">原创</div>
            </a>
            <a href="#" target="_blank" class="item">
                <span>
                    <i class="teal circle icon"></i>关于狗子变了这件事
                    <div class="ui teal basic left pointing label m-padding-tiny">09月03号</div>
                </span>
                <div class="ui orange basic left pointing label m-padding-tiny">原创</div>
            </a>
            <a href="#" target="_blank" class="item">
                <span>
                    <i class="teal circle icon"></i>关于狗子变了这件事
                    <div class="ui teal basic left pointing label m-padding-tiny">09月03号</div>
                </span>
                <div class="ui orange basic left pointing label m-padding-tiny">原创</div>
            </a>
            <a href="#" target="_blank" class="item">
                <span>
                    <i class="teal circle icon"></i>关于狗子变了这件事
                    <div class="ui teal basic left pointing label m-padding-tiny">09月03号</div>
                </span>
                <div class="ui orange basic left pointing label m-padding-tiny">原创</div>
            </a>
        </div>

        <h2 class="ui center aligned header">2016</h2>
        <div class="ui fluid vertical menu">
            <a href="#" target="_blank" class="item">
                <span>
                    <i class="teal circle icon"></i>关于狗子变了这件事
                    <div class="ui teal basic left pointing label m-padding-tiny">09月03号</div>
                </span>
                <div class="ui orange basic left pointing label m-padding-tiny">原创</div>
            </a>
            <a href="#" target="_blank" class="item">
                <span>
                    <i class="teal circle icon"></i>关于狗子变了这件事
                    <div class="ui teal basic left pointing label m-padding-tiny">09月03号</div>
                </span>
                <div class="ui orange basic left pointing label m-padding-tiny">原创</div>
            </a>
            <a href="#" target="_blank" class="item">
                <span>
                    <i class="teal circle icon"></i>关于狗子变了这件事
                    <div class="ui teal basic left pointing label m-padding-tiny">09月03号</div>
                </span>
                <div class="ui orange basic left pointing label m-padding-tiny">原创</div>
            </a>
            <a href="#" target="_blank" class="item">
                <span>
                    <i class="teal circle icon"></i>关于狗子变了这件事
                    <div class="ui teal basic left pointing label m-padding-tiny">09月03号</div>
                </span>
                <div class="ui orange basic left pointing label m-padding-tiny">原创</div>
            </a>
            <a href="#" target="_blank" class="item">
                <span>
                    <i class="teal circle icon"></i>关于狗子变了这件事
                    <div class="ui teal basic left pointing label m-padding-tiny">09月03号</div>
                </span>
                <div class="ui orange basic left pointing label m-padding-tiny">原创</div>
            </a>
        </div>

        <h2 class="ui center aligned header">2015</h2>
        <div class="ui fluid vertical menu">
            <a href="#" target="_blank" class="item">
                <span>
                    <i class="teal circle icon"></i>关于狗子变了这件事
                    <div class="ui teal basic left pointing label m-padding-tiny">09月03号</div>
                </span>
                <div class="ui orange basic left pointing label m-padding-tiny">原创</div>
            </a>
            <a href="#" target="_blank" class="item">
                <span>
                    <i class="teal circle icon"></i>关于狗子变了这件事
                    <div class="ui teal basic left pointing label m-padding-tiny">09月03号</div>
                </span>
                <div class="ui orange basic left pointing label m-padding-tiny">原创</div>
            </a>
            <a href="#" target="_blank" class="item">
                <span>
                    <i class="teal circle icon"></i>关于狗子变了这件事
                    <div class="ui teal basic left pointing label m-padding-tiny">09月03号</div>
                </span>
                <div class="ui orange basic left pointing label m-padding-tiny">原创</div>
            </a>
            <a href="#" target="_blank" class="item">
                <span>
                    <i class="teal circle icon"></i>关于狗子变了这件事
                    <div class="ui teal basic left pointing label m-padding-tiny">09月03号</div>
                </span>
                <div class="ui orange basic left pointing label m-padding-tiny">原创</div>
            </a>
            <a href="#" target="_blank" class="item">
                <span>
                    <i class="teal circle icon"></i>关于狗子变了这件事
                    <div class="ui teal basic left pointing label m-padding-tiny">09月03号</div>
                </span>
                <div class="ui orange basic left pointing label m-padding-tiny">原创</div>
            </a>
        </div>

    </div>
</div>

<!--底部footer-->
<div th:replace="~{commons/_fragments.html::footer}"></div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
<script>
    $(function () {
        $('.menu.toggle').click(function () {
            $('.m-item').toggleClass('m-mobile-hide');
        });
    });
</script>
</body>
</html>