<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!--configuration核心配置文件-->
<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql:///mybatis?characterEncoding=UTF-8"/>
                <property name="username" value="root"/>
                <property name="password" value="yy5201314"/>
            </dataSource>
        </environment>
    </environments>

    <!--要添加映射配置-->
    <mappers>
        <!--让mybatis知道接口的实现类在哪-->
        <mapper resource="user/UserMapper.xml"/>
    </mappers>
</configuration>